.lokalhistorieresult {
  border: none;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
}

#finnlokalhistorie_search-string {
  color: #800;
}

a.lokalhistorieresultlink {
  text-decoration: none;
  line-height: 1em;
}

.lokalhistorieresultdescription {
  color: #999;
}

img.lokalhistorieresultcover {
  float: left;
  margin-right: 5px;
  max-height: 150px;
  max-width: 150px;
}

.lokalhistorie_skjema {
  width: 100%;
  margin: 20px 0px;
  clear: both;
}

.lokalhistorie_skjema h2 {
  width: 100%;
}

.lokalhistorie_skjema input[type="submit"] {
  background-image: url(../g/search.png);
  background-position:  0px 0px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border: 0px;
  background-color: none;
  outline: 0;
}

.lokalhistorie_skjema input[type="submit"]:hover {
  background-image: url(../g/search.png);
  background-position:  0px 0px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  border: 0px;
  background-color: none;
  outline: 0;
  opacity: 0.5;
}

.lokalhistorie_sjekkbokser {
  margin-left: 8%;
  float: left;
}

img.webloftlogo {
  float: right;
  box-shadow: none;
  border: none;
  max-width: 50px;
  height: auto;
  margin-right: 8%;
}

#lokalhistorieresults-text {
  margin: 0;
  line-height: 30px;
}

/* ######### CSS for Shade Tabs. Remove if not using ######### */

.lokalhistorieshadetabs{
  padding: 3px 0;
  margin-left: 0;
  margin-top: 1px;
  margin-bottom: 0;
  list-style-type: none;
  text-align: center; /*set to left, center, or right to align the menu as desired*/
}

.lokalhistorieshadetabs li{
  display: inline;
  margin: 0;
}

.lokalhistorieshadetabs li a{
  text-decoration: none;
  position: relative;
  z-index: 1;
  padding: 3px 7px;
  margin-right: 3px;
}

.lokalhistorieshadetabs li a:visited{
  color: #2d2b2b;
}

.lokalhistorieshadetabs li a:hover{
  text-decoration: underline;
  color: #2d2b2b;
}

.lokalhistorieshadetabs li a.selected{ /*selected main tab style */
  position: relative;
  top: 1px;
}

.lokalhistorieshadetabs li a.selected{ /*selected main tab style */
  background-color: #eee;
}

.lokalhistorieshadetabs li a.selected:hover{ /*selected main tab style */
  text-decoration: none;
}

.lokalhistorietabcontent{
  display:none;
}

@media print {
  .lokalhistorietabcontent {
    display:block !important;
  }
}

/**
 * (C)Leanest CSS spinner ever
 * http://lea.verou.me/2013/11/cleanest-css-spinner-ever/
 */

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
  }
}
@-moz-keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.fhls-progress {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 6px;
  text-indent: 999em;
  overflow: hidden;
  -webkit-animation: spin 1s infinite steps(8);
  -o-animation: spin 1s infinite steps(8);
  animation: spin 1s infinite steps(8);
}

.fhls-progress:before,
.fhls-progress:after,
.fhls-progress > div:before,
.fhls-progress > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em; /* (container width - part width)/2  */
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee; /* container height - part height */
  transform-origin: 50% 2.5em; /* container height / 2 */
}

.fhls-progress:before {
  background: #555;
}

.fhls-progress:after {
  transform: rotate(-45deg);
  background: #777;
}

.fhls-progress > div:before {
  transform: rotate(-90deg);
  background: #999;
}

.fhls-progress > div:after {
  transform: rotate(-135deg);
  background: #bbb;
}